﻿﻿@using E_ShoppingManagement.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="reset-bg">
    <div class="reset-card">
        <h2 class="text-center mb-4">Change Password</h2>
        <form asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" readonly style="background: rgba(255,255,255,0.9); color: #000 !important;" />
            </div>
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label"></label>
                <div class="password-wrapper">
                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" />
                    <i class="bi bi-eye password-toggle eye-icon text-white"></i>
                </div>
                <span asp-validation-for="NewPassword" class="text-warning small float-start"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
                <div class="password-wrapper">
                    <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Confirm Password" />
                    <i class="bi bi-eye password-toggle eye-icon text-white"></i>
                </div>
                <span asp-validation-for="ConfirmNewPassword" class="text-warning small float-start"></span>
            </div>
            <input type="submit" value="Change Password" class="btn btn-reset w-100 p-2 fw-bold mt-3" />
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none text-light opacity-75 small mt-3">Back to Login</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}