﻿@using E_ShoppingManagement.ViewModels;
@model VerifyEmailViewModel;

@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="forgot-bg">
    <div class="forgot-card">
        <h2 class="text-center mb-4">Verify Email</h2>
        <form asp-action="VerifyEmail" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                <span asp-validation-for="Email" class="text-warning small float-start"></span>
            </div>
            <input type="submit" value="Verify" class="btn btn-reset w-100 p-2 fw-bold mt-3" />
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="Login" class="text-decoration-none text-light opacity-75 small mt-3">Back to Login</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}